<%= stylesheet_link_tag 'front/top'%>


<div class="top">
	<div class="slider-top">
		<div class="slider">
			<div><img src="assets/img/logo2.jpg" alt=""></div>
			<div><img src="assets/img/cook1.jpg" alt=""></div>
			<div><img src="assets/img/cook2.jpg" alt=""></div>
			<div><img src="assets/img/cook3.jpg" alt=""></div>
		</div>
	</div>
	<div class="site-in"><%= link_to "~Go to MensMeshi~", front_post_images_path %></div>
</div>




