<%= stylesheet_link_tag 'front/top'%>
<!-- <link rel="stylesheet" href="../css/slick.css" /> -->
<%#= stylesheet_link_tag 'slick' %>

<div class="top">
	<div class="top-image">
		<div><img src="assets/img/logo.jpg" alt=""></div>
		<div><img src="assets/img/cook1.jpg" alt=""></div>
		<div><img src="assets/img/cook2.jpg" alt=""></div>
		<div><img src="assets/img/cook3.jpg" alt=""></div>
	</div>
	<!-- <ul class="slider">
		<div class="slick-slider logo"></div>
		<div class="slick-slider cook1"></div>
		<div class="slick-slider cook2"></div>
		<div class="slick-slider cook3"></div>
	</ul> -->
</div>

<!-- <script src="assets/slick.js"></script> -->



