<%= stylesheet_link_tag 'front/top'%>


<div class="top">
	<div class="slider-top">
		<div class="slider">
			<img src="/images/img/logo2.jpg" alt="">
			<img src="/images/img/cook1.jpg" alt="">
			<img src="/images/img/cook2.jpg" alt="">
			<img src="/images/img/cook3.jpg" alt="">
		</div>
	</div>
	<div class="site-in"><%= link_to "~Go to MensMeshi~", front_post_images_path %></div>
</div>




