<%= render 'front/post_images/header' %>
<div class="about_image">
	<img src="/images/img/logo2.jpg" alt="">
</div>
<div class="about_message">
	mensmeshiでは料理を嗜む男性のための写真投稿サイトです。<br>
	今までに料理した写真を投稿したり<br>
	写真にコメントをして他のユーザーと交流することもできます。
</div>
<div class="icon_field">
	<div class="icon far fa-thumbs-up"></div>
	<div class="icon fas fa-home"></div>
	<div class="icon fas fa-utensils"></div>
</div>
<div class="how_to">
	マイページのアイコンでいいねされた数や外食とお家ごはんのバランスを見ることもできます。<br>
	皆で料理を楽しみましょう！！！
</div>

<div class="about_back"><%= link_to "back", :back %></div>