// Place all the styles related to the front::post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title h1{
	color: #000000;
	padding-top: 80px;
	text-align: center;
}

.header {
	background-color: #000000;
	height: 70px;
	position: fixed;
	top: -10px;
	width: 100%;
	z-index: 1;
}
.current_user_name {
    display: inline-block;
    margin: 19px 0 0 250px;
    color: #ffffff;
}
span {
    font-size: 20px;
}


.header-image {
    height: 55px;
    overflow: hidden;
    position: relative;
    top: 12px;
}

.header-image img {
	width: 200px;
	margin: 12px 0 0 2px;
    position: absolute;
    top: -75px;
}
.cooks {
	text-align: center;
	width: 1100px;
	margin: 0 auto;
}
.cook-images {
	display: inline-block;
}

.cook-images img {
	width: auto;
	height: 200px;
    margin: 0 auto;
}
.cook-images div {
	margin: 0;

}
.left-side {
	background-color: #000000;
	height: 800px;
}
/*.post_image {
    margin-left: 200px;
    float: left;
}*/
.post-image img {
    width: auto;
    height: 500px;
    float: left;
    margin-left: 90px;
}

.image img {
	width: 400px;
	height: auto;
	border-radius: 0;
	margin-left: 120px;
	padding-top: 100px;
}
.comment-table {
	padding-top: 100px;
}
.comment-table img{
	float: left;
}
.comment-table div {

}

.name {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.comment {
    display: inline-block;
	font-size: 20px;
    width: 700px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-name {
    float: left;
    margin-right: 20px;
}
.comment-box {
	padding-top: 10px;
    width: 800px;
    display: inline-block;
    padding-left: 100px;
    padding-bottom: 20px;
}
.comment-field {
    width: 800px;
    height: auto;
    display: inline-block;
    padding-left: 50px;
}


.comment-user-profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
}
.comment-information {
    margin: 0 0 10px 50px;
}

/* header modal*/
.sign-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dadada;
    z-index: 100;
    opacity: .7;
    display: none;
}

.sign-modal-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 450px;
    z-index: 200;
    display: none;
    text-align: center;
    margin: 0 auto;
    background-color: #dadada;
    margin-top: 100px;
}

.sign-up-form {
    display: none;
}

.sign-in-form {
    display: none;
}


/*Toggle menu*/

$lred:#E57373;
$red:#F44336;

@mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
}



#mmeennuu {
    display:none;
}

#mmeennuu:checked ~ .menu {

    width:500px;
    border-radius:5px;
    background-color:transparent;
    border:3px solid $red;
    height:52px;

    &>ul {
        display:block;
        opacity:1;
    }
    &>.barry {
        display:none;
    }
}

.menu {
    display:block;
    position: absolute;
    top: 15px;
    right: 20px;
    width:50px;
    height:50px;
    background-color:$red;
    border:3px solid transparent;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
    @include transition(all 0.5s ease-in-out);

    div.barry {
        width:40px;
        margin:12px 5px;


        .bar {
            display:block;
            width:82%;
            height:3px;
            margin-top:3px;
            border-radius:2px;
            background-color:#fff;
        }
    }

    ul {
        opacity:0;
        display:none;
        @include transition(all 0.5s ease-in-out);
        list-style-type:none;
        padding:0;
        width:500px;
        text-align:center;
        margin-bottom: 0;

        li {
            display:inline-block;
            .modals, a {
                text-decoration:none;
                display:inline-block;
                padding:9px 25px;
                color:$red;
                font-size:15px;
                @include transition(all 0.3s ease-in-out);
                border:3px solid transparent;
                border-radius:5px;

                &:hover {
                    border-color:$red;
                }

                &:target {
                    border-bottom-color:$red;
                }
            }
        }
    }
}
