// Place all the styles related to the front::post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-page-image {
}
.top-page-image img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -5;
}
.title h1{
	color: #ec993e;
	padding-top: 80px;
	text-align: center;
}

.header {
	background-color: #2f1313;
    opacity: 0.9;
	height: 70px;
	position: fixed;
	top: -10px;
	width: 100%;
	z-index: 1;
}
.current_user_name {
    display: inline-block;
    margin: 19px 0 0 250px;
    color: #ffffff;
}
span {
    font-size: 20px;
}


.header-image {
    height: 55px;
    overflow: hidden;
    position: relative;
    top: 12px;
}

.header-image img {
	width: 200px;
	margin: 12px 0 0 2px;
    position: absolute;
    top: -75px;
}
.cooks {
	text-align: center;
	width: 1100px;
	margin: 0 auto;
}
.cooks-ranking {
    text-align: center;
    width: 710px;
    margin: 0 auto;
}
.cook-images {
	display: inline-block;
    margin: 20px 0;
}

.cook-images img {
	width: 200px;
	height: auto;
    margin: 10px auto;
}

.cook-images p {
    display: inline;
}

.image-background {
    background-color: #fffffe;
    width: 230px;
    height: 315px;
    border-radius: 2%;
}


.post-information {
    color:#fff;
    background-color: #520707;
    border-radius: 10px;
}

.fa-heart {
    color: #2196f3;
}

.fa-comments {
    color: #fff;
}
.blank {
    display: inline-block;
}


.left-side {
	background-color: #2f1313;
    position: fixed;
}
.my-images-box {
    height: 1500px;
    position: absolute;
    right: 0;
}
.border {
    border-bottom: 8px dotted #8b4513;
    clear: both;
}
.border-line {
    border-bottom: 3px solid #800000;
    width: 800px;
    margin:0 auto;
}
.post-image {
    padding-top: 100px;
    display: inline-block;
    width: 510px;
    height: 800px;
    margin-left: 100px;
    text-align: center;
}
.image-title-show {
    color:#000;
    width: 500px;
    display: inline-block;
    text-align: center;
    border: 1px solid #b99999;
    border-radius: 5px;

}
.image-user-name {
    width: auto;
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
}

.post-time {
    width: auto;
    text-align: left;
}

.back-btn {
    text-align: left;
    margin-top: 5px;

}
.back-btn a {
    background-color: #c54d43;
    color: #fff;
    border-radius: 10%;
    font-size: 20px;
}

.image-title {
    color: #000;
    overflow: scroll;
    width: 180px;
    margin: 0 auto;
}

.comment-wrappr {
    width: 800px;
    position:absolute;
    padding-top: 100px;
    display: inline-block;
}
.post-image img {
    height: 500px;
    width: inherit;
    object-fit: contain;
}

.image img {
	width: 400px;
	height: auto;
	border-radius: 0;
	margin-left: 120px;
	padding-top: 100px;
}
.comment-table {
	padding-top: 100px;
}
.comment-table img{
	float: left;
}
.comment-table div {

}

.name {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.comment {
    display: inline-block;
	font-size: 15px;
    width: 700px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: scroll;
}
.comment-name {
    float: left;
}
.comment-box {
    padding-left: 60px;
    padding-bottom: 20px;
}
.comment-box form {
    width: 700px;
}


.comment-user-image {
    margin-right: 10px;
    float: left;
}


.comment-user-profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    object-fit: cover;
    margin-top: 17px;
}
.comment-information {
    margin: 0 0 10px 70px;
}

.comment-time {
    display: inline-block;
    margin: 0 20px;
}

.comment-delete {
    display: inline-block;
}

/* header modal*/
.sign-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dadada;
    z-index: 100;
    opacity: .7;
    display: none;
}

.sign-modal-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 450px;
    z-index: 200;
    display: none;
    text-align: center;
    margin: 0 auto;
    background-color: #c3985f;
    margin-top: 100px;
    border-radius: 10%;
}

.sign-up-form {
    display: none;
}

.sign-in-form {
    display: none;
}

.sign-field {
    width: 200px;
    margin: 0 auto;
}

.sign-age-field {
    width: 70px;
    margin: 0 auto;
}

.post-edit {
    position: absolute;
    left: 25%;
}

.favorite-count, .favorite-count a{
    color :#e2f502;
}

.favorite-count {
    display: inline-block;
}

.rank-list {
    text-align: center;
}
.rank-list li {
    color: #fbf706;
    font-size: 30px;
    width: 240px;
    display: inline-block;
}

.rank-list2 {
    text-align: center;
    position: relative;
    top: 395px;
    height: 0;
}

.rank-list2 li {
    color: #fbf706;
    font-size: 30px;
    width: 240px;
    display: inline-block;
}


/*Toggle menu*/

$lred:#E57373;
$red:#F44336;

@mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
}



#mmeennuu {
    display:none;
}

#mmeennuu:checked ~ .menu {

    width:500px;
    border-radius:5px;
    background-color:transparent;
    border:3px solid $red;
    height:52px;

    &>ul {
        display:block;
        opacity:1;
    }
    &>.barry {
        display:none;
    }
}

.menu {
    display:block;
    position: absolute;
    top: 15px;
    right: 20px;
    width:50px;
    height:50px;
    background-color:$red;
    border:3px solid transparent;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
    @include transition(all 0.5s ease-in-out);

    div.barry {
        width:40px;
        margin:12px 5px;


        .bar {
            display:block;
            width:82%;
            height:3px;
            margin-top:3px;
            border-radius:2px;
            background-color:#fff;
        }
    }

    ul {
        opacity:0;
        display:none;
        @include transition(all 0.5s ease-in-out);
        list-style-type:none;
        padding:0;
        width:500px;
        text-align:center;
        margin-bottom: 0;

        li {
            display:inline-block;
            .modals, a {
                text-decoration:none;
                display:inline-block;
                padding:9px 25px;
                color:$red;
                font-size:15px;
                @include transition(all 0.3s ease-in-out);
                border:3px solid transparent;
                border-radius:5px;

                &:hover {
                    border-color:$red;
                }

                &:target {
                    border-bottom-color:$red;
                }
            }
        }
    }
}
