// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top {
	background-color: #000000;
	height: 100vh;
}
.top-image {
	width: 100%;
	text-align: center;
}
.top-image img {
	border-radius: 0;
	width: auto;
}
.slider {
	margin-bottom: 0;
}
.slider img {
	width: auto;
	height: 700px;
	margin: 0 auto;
}
.slider-top {
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
}
.site-in {
	text-align: center;
	font-size: 30px;
}
.site-in a {
	color: #ffffff;
	margin-bottom: 20px;
}

.image-slider {
	height: 200px;
	background-repeat: no-repeat;
	background-size: contain;
}

