// Place all the styles related to the front::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-name {
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
}
.img-circle {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.sol {
	margin-top: 30px;
	height: 200px;
}

.sol div {
	width: 33%;
	float: left;
	font-size: 30px;
}
.sol div:nth-child(1){
	color: #ffd700;
}
.sol div:nth-child(2){
	color: #008000;
}
.sol div:nth-child(3){
	color: #b22222;
}

.mypage-link {
	text-align: center;
	padding-bottom: 20px;
}
.mypage-link div {
	margin: 20px 0;
	color: #ffffff;

}
.mypage-link a {
	color:#ffffff;
}

button {
	background:none;
	border: none;
	padding: 10px 0;
	width: 100%;
}
.post {
	color:#ffffff;
	border: 2px solid #ffffff;
	padding: 10px 130px;
	margin: 10px 0;
	font-family: Courier;
}
.raise a{
	color:#ffffff;
	border: 2px solid #ffffff;
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	font-family: Courier;
}

.post:hover{
	background-color: #ffffff;
	box-shadow: 0 0.5em 0.5em -0.4em rgba(255,241,15,1) var(--hover);
	transform: translateY(-0.50em);
	color: #000000;
}

.raise a:hover {
	background-color: #ffffff;
	box-shadow: 0 0.5em 0.5em -0.4em rgba(0,0,255,.1) var(--hover);
	transform: translateY(-0.50em);
	color: #000000;
}

.preview img {
	width: 300px;
	margin: 0 auto;
	display: -webkit-box;
}

.profile-preview img {
	border-radius: 50%;
}

.image-preview {
	width: 500px;
	height: 450px;
	margin: 30px auto 10px auto;
}
.images {
	border-radius: 0px;
}
.my-images {
	border-radius: 0px;
	width: 200px;
	height: auto;
	margin: 0 auto;
}

.myimage-box {
	float: left;
	margin: 0 20px;
}


.image-field {
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
}
.image-field input {
	margin: 0 auto;
}

.edit-name-form {
	width: 150px;
}
.edit-age-form {
	width: 60px;
}


/*post-modal*/

.post-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #dadada;
	opacity: .7;
	display: none;
}

.post-modal {
	display: none;
	z-index: 200;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 50px;

}
.post-box {
	height: 650px;
	width: 500px;
	margin: 0 auto;
	background-color: #942321;
}

.remove-icon {
	text-align: right;
}



