<%= stylesheet_link_tag 'admin/users' %>
<div class="admin-header">
	<div class="header-menu">
		<div>サイトへ</div>
		<div>ログイン</div>
	</div>
</div>
<div id="menu">
	<ul>
		<li>ホーム</li>
		<li><%= link_to "会員一覧", admin_users_path %></li>
		<li>投稿画像</li>
		<li>コメント</li>
		<li>管理者</li>
	</ul>
</div>